/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
   themes: night --default, dark --prefersdark;
}


@font-face {
  font-family: "Montserrat";
  src: url('/assets/fonts/monserrat/Montserrat-Medium.ttf')
    format("truetype");
}

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}
